{% extends "base.html" %}

{% block title %}Opening Doors{% endblock %}

{% block content %}
<p>
    Opening Doors is my Final Project for Code Louisville Data Analytics 2.
</p>
<p>
    This project will allow the user to search a home value, and analyze rental and/or selling options based on the record of Realty Mole Property.
    <br><a href="https://github.com/danyfebrero/OpeningDoors"><em>GitHub Repository</em></a>
</p>


<h5>Requirements</h5>
<p>Create an API key for free at <a href="https://www.realtymole.com/api">Realty Mole Property</a></p> 
<p>
        <b>FEATURE LIST:</b> 
        <dl>
            <dt><b>Category 1 - Loading data:</b></dt>
            <dd>- Read TWO data sets in with an API (or use two different APIs that have data you can combine to answer new questions).</dd>
            <br><dt><b>Category 2 - Clean and operate on the data while combining them: </b></dt>
            <dd>- Cleaning data and performing a pandas merge with your two data sets, then calculate some new values based on the new data set. </dd>
            <br><dt><b>Category 3 - Visualize / Present data: </b></dt>
            <dd>- Make 3 matplotlib or seaborn (or another plotting library) visualizations to display your data.</dd>
            <dd>- Make at least 1 Pandas</dd>
            <br><dt><b>Category 4: Best Practices</b></dt>
            <dd>- The program utilize a virtual environment and document library dependencies in a requirements.txt file.</dd>
            <br><dt><b>“STRETCH” Feature List:</b></dt>
            <dd>- Annotate your .py files with well-written comments and a clear README.md.</dd>
        </dl>
        
</p>

{% endblock %}