<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" 
  href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" 
  href="{{ url_for('static', filename='skeleton.css') }}">
  <link rel="stylesheet" 
  href="{{ url_for('static', filename='gh.css') }}">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" 
  href="{{ url_for('static', filename='favicon.png') }}">

</head>
<body>
  <nav class="nav-show">
    <div class="container">
        <ul>
            <li><a href="{{ url_for('index') }}"><b>Opening Doors</b></a></li>
            <li><a href="{{ url_for('api_key') }}"><b>Buy/Sell</b></a></li>
            <li><a href="{{ url_for('api_key') }}"><b>Rent</b></a></li>
            <li class="u-pull-right"><a href="{{ url_for('about') }}"><b>About</b></a></li>
            <li class="u-pull-right"><a href="{{ url_for('api_key') }}"><b>API Key</b></a></li>
            <li class="icon">
                <a href="javascript:void(0);" onclick="toggleMobileNav();">&#9776;</a>
            </li>
        </ul>
    </div>
  </nav>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div style="margin-top: 5%">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='gh.js') }}"></script>
  {% block chart %}{% endblock %}
</body>
</html>
