{% extends "base.html" %}

{% block title %}Opening Doors{% endblock %}

{% block content %}
<section class="header">
    <h2 class="title">Welcome to Opening Doors!</h2>
    <img class="u-full-width" src="/static/PuttachatKumkrong.jpg" alt="">
</section>
<div>
    <div>
        <h3>Buy a home</h3>
        <p>With over 1 million+ homes for sale available on the website, Opening Doors can match you with a house you will want to call home.</p> 
        <button><a href="{{ url_for('search') }}"> Buy / Sell </a></button>   
    </div>

</div>
        
{% endblock %}