{% extends "base.html" %}

{% block content %}

        <div class="row" id="property-details">
                <div class="eight columns">
                        <h5>{{house_df.formattedAddress}}</h5>
                        <p>Bedrooms: {{house_df.bedrooms}} <br>Bathrooms: {{house_df.bathrooms}} <br>Sqft: {{house_df.squareFootage}}</p>
                </div>
                <div class="four  columns">
                        <h5>{{house_df.price}}</h5>
                        <p>Realty Mole Estimate<br>as {{last_request}}</p>
                </div>
        </div>
        <hr />
        <h4>Map</h4>
        <div class="property-map" id="property-map">
                
  
        </div>
        <hr />
        <div class="Home-Details">
                <h4>Home Details:</h4>
                <ul>
                        <li>Year of Built: {{house_df.yearBuilt}}</li>
                        <li>Lot Size: {{house_df.lotSize}}</li>
                        <li>Property Type: {{house_df.propertyType}}</li>
                        <li>Features:
                          <ul>
                                <li>Architecture Type: {{house_features.architectureType}}</li>
                                <li>Cooling: {{house_features.cooling}}</li>
                                <li>Cooling Type: {{house_features.coolingType}}</li>
                                <li>Exterior Type: {{house_features.exteriorType}}</li>
                                <li>Floor Count: {{house_features.floorCount}}</li>
                                <li>Foundation Type: {{house_features.foundationType}}</li>
                                <li>Garage: {{house_features.garage}}</li>
                                <li>Garage Type: {{house_features.garageType}}</li>
                                <li>Heating: {{house_features.heating}}</li>
                                <li>Heating Type: {{house_features.heatingType}}</li>
                                <li>Pool: {{house_features.pool}}</li>
                                <li>Roof Type: {{house_features.roofType}}</li>
                                <li>Room Count: {{house_features.roomCount}}</li>
                                <li>Unit Count: {{house_features.unitCount}}</li>
                          </ul>
                        </li>
                      </ul>
        </div>
        <hr />
        <div class="Tax-TaxAssessment">
                <h4>Property Taxes and Assessment</h4>
                <div id="taxes-table">
                        
                </div>
                <div>
                        <table></table>
                </div>
        </div>
        
        <hr />
        <div class="Comparables">
                <h4>Comparables for: {{house_df.addressLine1}}</h4>
                <div class="comparables-map" id="comparables-map">

                </div>
                <div class="comparables_table" id="comparables_table">
                       
                </div>
        </div>
        <hr />
        <div class="owner">
                <h4>Owner information:</h4>
                <div class="owner">
                        {% for name in  house_owner.names%}
                        <b>Owners:</b>  {{name}}
                        {% endfor %}
                        <br> <b>Mailing Address:</b>  {{house_owner.mailingAddress.addressLine1}}, {{house_owner.mailingAddress.city}}, {{house_owner.mailingAddress.state}} {{house_owner.mailingAddress.zipCode}}
                </div>
                <br>
        </div>
        <hr /><br>
        <div class="Data-Analysis">
                <h4>Exploratory Data Analysis</h4>
                <div class="sqrt_fig" id="sqrt_fig"></div>
                <div class="bed_fig" id="bed_fig"></div>
                <div class="bath_fig" id="bath_fig"></div>
                <div class="ptype_fig" id="ptype_fig"></div>
                <div class="lotSize_fig" id="lotSize_fig"></div>
        </div>
        <hr />

{% endblock %}
{% block chart %}
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
    var graph1 = {{ graph1 | safe }};
    Plotly.plot('property-map', graph1, {});

    var graph2 = {{ graph2 | safe }};
    Plotly.plot('comparables-map', graph2, {});

    var tax_table = {{ tax_table | safe }};
    Plotly.plot('taxes-table', tax_table, {});

    var comparables_table = {{ comparables_table | safe }};
    Plotly.plot('comparables_table', comparables_table, {});

    var sqrt_fig = {{ sqrt_fig | safe }};
    Plotly.plot('sqrt_fig', sqrt_fig, {});

    var bed_fig = {{ bed_fig | safe }};
    Plotly.plot('bed_fig', bed_fig, {});

    var bath_fig = {{ bath_fig | safe }};
    Plotly.plot('bath_fig', bath_fig, {});

    var ptype_fig = {{ ptype_fig | safe }};
    Plotly.plot('ptype_fig', ptype_fig, {});

    var lotSize_fig = {{ lotSize_fig | safe }};
    Plotly.plot('lotSize_fig', lotSize_fig, {});

  </script>
{% endblock %}