{% extends "base.html" %}

{% block content %}

        <div class="row" id="property-details">
                <div class="eight columns">
                        <h5>{{house_df.formattedAddress}}</h5>
                        <p>Bedrooms: {{house_df.bedrooms}} <br>Bathrooms: {{house_df.bathrooms}} <br>Sqft: {{house_df.squareFootage}}</p>
                </div>
                <div class="four  columns">
                        <h5>{{house_df.price}}</h5>
                        <p>Realty Mole Estimate<br>as {{last_request}}</p>
                </div>
        </div>
        <hr />
        <div class="property-map" id="property-map">
                <h4>Map</h4>
        </div>
        <div class="Home-Details">

        </div>
        <div class="Tax-TaxAssessment">

        </div>
        <div class="Comparables">
                <div class="map">

                </div>
                <div class="comparable-list">
                        
                </div>
        </div>
{% endblock %}
{% block chart %}
{% endblock %}